.body{

}
#meals-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.meal-div{
    
    border-radius: 10px;
    padding: 20px;
    width: 360px;
    text-align: center;
    

}
.meal-tittle{
    
    font-size: 30px;
    color: rgb(59, 59, 59);
}
.card-body{
    background-color: rgb(243, 240, 240);

}
.ingredients-list li{
    list-style: none;
}
.icon{
    color: #ffc107;
}